<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group me-2" role="group" aria-label="First group">
        <button [routerLink]="['/home']" class="btn btn-outline-danger">
      <i class="fa fa-undo"></i>
      Regresar
    </button>
    </div>

    <div class="btn-group" role="group" aria-label="Third group">
        <button [routerLink]="['/editHeroes', 'nuevo']" type="button" class="btn btn-outline-success">
      <i class="fa fa-plus"></i>
      Nuevo Heroe
    </button>
    </div>

</div>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">nombre</th>
            <th scope="col">bio</th>
            <th scope="col">aparicion</th>
            <th scope="col">casa</th>
            <th scope="col">img</th>
            <th scope="col">actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let heroe of infoHeroesBD; let i = index">
            <th scope="row">{{heroe._id}}</th>
            <td>{{heroe.nombre}}</td>
            <td>{{heroe.bio}}</td>
            <td>{{heroe.aparicion}}</td>
            <td>{{heroe.casa}}</td>
            <td><img src="{{heroe.img}}" class="img-fluid" alt="{{heroe.nombre}}"></td>
            <td>
                <button (click)="eliminarHeroe(heroe)" type="button" class="btn btn-outline-danger btn-block">
              <i class="fa fa-trash"></i>
              Eliminar
            </button>
                <button (click)="editarHeroe(heroe._id)" type="button" class="btn btn-outline-success btn-block">
              <i class="fa fa-edit"></i>

              Editar
            </button>
                <a (click)="verHeroe(heroe._id)" class="btn btn-primary" id="btn"> Ver multimedias </a>

            </td>
        </tr>
    </tbody>
</table>