<div class="container">
    <p>heroe-edit works!</p>

    <form (ngSubmit)="guardar()" #forma="ngForm">
        <div class="form-group">
            <label><b>ID</b></label>
            <input [(ngModel)]="UnRelacion._id" name="id" type="text" class="form-control" placeholder="Id" required disabled />
        </div>
        <div class="form-group">
            <label><b>Heroe</b></label>
            <input [(ngModel)]="UnRelacion.IdHeroe" name="idHeroe" type="text" class="form-control" placeholder="{{receivedData}}" required disabled />
        </div>
        <br>

        <div class="card mb-3" style="max-width: 540px">
            <div class="row g-0">
                <div class="col-md-4">
                    <img [src]="multimedia" class="img-thumb" />
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <div class="form-group row">
                            <label class="col-50 col-form-label"><b>Multimedia</b></label>

                            <div class="col-50">
                                <select [(ngModel)]="UnRelacion.IdMultimedia" name="idmultimedia" class="form-control" id="imagen" required (change)="obtenerImagen()">
                  <option value="">Seleccione una Multimedia</option>
                  <option
                    *ngFor="let multimedia of unMultimedia"
                    [value]="multimedia._id"
                  >
                    {{ multimedia.url }}
                  </option>
                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button [disabled]="!forma.valid" type="submit" class="btn btn-primary">
      Submit
    </button>
    </form>
</div>